$primary: yellow;
$danger: rgb(250, 128, 114);
$input-bg-custom: rgb(245, 245, 245);
$label-color-custom: rgb(200, 200, 200);
$input-border-wide-thickness-custom: 3px;
$input-border-narrow-thickness-custom: 1px;
$input-shadow-custom: false;
$input-border-radius-custom: 13px;
$normal-font-color-custom: black;
$btn-color-custom: white;

$input-bg: $input-bg-custom;
$input-border-width: $input-border-wide-thickness-custom;
$input-border-color: $input-bg-custom;
$input-focus-box-shadow: $input-shadow-custom;
$input-border-radius: $input-border-radius-custom;
$input-focus-border-color: $primary;

$form-label-color: $label-color-custom;
$form-text-color: $label-color-custom;

$input-group-addon-bg: $input-bg-custom;
$input-group-addon-color: $label-color-custom;

$btn-border-width: $input-border-wide-thickness-custom;
$btn-font-weight: bold;
$btn-border-radius: $input-border-radius-custom;
$link-hover-color: $primary;

$form-check-input-focus-box-shadow: $input-shadow-custom;
$form-check-input-border: $input-border-narrow-thickness-custom solid $primary;
$form-check-input-focus-border: yellow;
$form-check-input-bg: white;
$form-switch-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='yellow'/%3e%3c/svg%3e");
$form-check-input-active-filter: brightness(100%);

$dropdown-link-active-color: $normal-font-color-custom;
$dropdown-link-active-bg: $primary;
$dropdown-link-hover-color: $normal-font-color-custom;
$dropdown-link-hover-bg: $primary;
$dropdown-border-radius: $input-border-radius-custom;

$headerSize: 80px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.lh-14 {

    line-height: 1.4;

}

.custom-container {

    width: 100%;
    padding: 0px 20px;
    word-wrap: break-word;
    margin-top: 5px;

}

@media(min-width: 500px) {

    .custom-container {

        width: 450px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }

}

.btn:hover {

    color: $btn-color-custom;

}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    
    color: $btn-color-custom;

}

.btn:focus-visible {

    color: $btn-color-custom;
    box-shadow: none;

}

.photo-profile {
    
    width: 38px;
    height: 38px;

}

.has-error {

    border: $input-border-wide-thickness-custom solid $danger !important;

}

.has-error:focus {

    border: $input-border-wide-thickness-custom solid $danger !important;

}

.cursor-pointer {

    cursor: pointer;

}

.header {

    background-color: white;
    width: 100%;
    height: $headerSize;
    position: fixed;
    left: 0%;
    z-index: 99999;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;

}

@media(max-width: 250px) {

    .headerLogo {

        display: none;

    }

    .headerDivision {

        width: 100%;
        display: flex;
        justify-content: center;

    }
    
}

.header-clearfix {

    position: static;
    height: $headerSize;

}

.headerLogo {

    margin-right: auto;

}

.showing-header {

    animation-name: showing-header;
    animation-duration: 0.7s;

    @keyframes showing-header {

        from {

            top: -100%;
        
        } to {
        
            top: 0%;
        
        }

    }

}

.hiding-header {

    animation-name: hiding-header;
    animation-duration: 2.0s;
    
    @keyframes hiding-header {

        from {

            top: 0%;
        
        } to {
        
            top: -100%;
        
        }
        
    }
    
}

.show-header {

    top: 0%;

}

.hide-header {
    
    top: -100%;
    
}

.input-activation-token {
    
    color: $normal-font-color-custom;
    font-size: 50px;
    font-weight: bold;
    width: 70px;
    height: auto;
    text-align: center;
    background-color: $input-bg-custom;
    border: $input-border-wide-thickness-custom solid $input-bg-custom;
    border-radius: $input-border-radius-custom;
    margin: 6px;

}

.input-activation-token:focus, .input-activation-token:active {

    outline: none;
    border-color: $primary;

}

.post-content-container {

    width: 100%;
    background-color: $input-bg-custom;
    border-radius: 18px;

}

.post-textarea-container {

    width: 100%;
    background-color: $input-bg-custom;
    padding: 12px 10px;
    border: $input-border-wide-thickness-custom solid $input-bg-custom;
    border-radius: 13px;

}

.post-textarea-container:focus-within {

    border: $input-border-wide-thickness-custom solid $primary;

}

.post-textarea {

    resize: none;
    line-height: 20px;
    font-size: 0.9rem;

}

.post-textarea:focus {

    border-color: $input-bg-custom;

}

.post-textarea:focus-visible {

    outline: none;

}

.post-actions-container {

    width: 100%;

}

.post-image-label {
    
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 25px;
    width: auto;
    padding: 8px 17px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    color:rgb(220, 220, 220);
    
}

.post-image-label:hover {

    border-color: rgb(200, 200, 200);
    color: rgb(200, 200, 200);

}

.post-image-input {

    display: none;

}
